.tpl-root {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
}

.tpl-hero {
  text-align: center;
  margin-bottom: 50px;
}

.tpl-hero h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.tpl-hero p {
  color: #666;
  margin-bottom: 20px;
}

.tpl-btn {
  background: #9b6bd2;
  border: none;
  padding: 10px 50px;
  color: white;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 530;
  cursor: pointer;
  transition: background 0.2s;
}

.tpl-btn:hover {
  background: #814eb7;
}

/* Badge ở giữa và dài */
.tpl-titleBadge {
  display: block;
  text-align: center;
  background: #9b6bd2;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  padding: 8px 0;
  border-radius: 8px;
  margin: 0 auto 30px;
  width: 300px;
}


.tpl-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 24px;
}

.tpl-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s, border 0.2s;
  border: 3px solid transparent;
}

.tpl-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.tpl-card.is-selected {
  border: 3px solid #9b6bd2;
}

.tpl-img img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  display: block;
}

.tpl-caption {
  padding: 12px 16px;
}

.tpl-label {
  display: block;
  font-size: 0.9rem;
  color: #9b6bd2;
  margin-bottom: 4px;
}

.tpl-desc {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}
